body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #14161c;
  color: #ddd;
  margin: 0;
  padding: 0;
}

#content {
    margin: 0 auto;
    width: 600px;
    padding: 20px 200px 20px 100px;
}

#header {
    position: relative;
    width: 600px;
    margin: 0 auto;
}

#trophy {
    position: absolute;
    top: 0;
    right: 50px;
}

#header h1 {
  font-size: 24px;
  margin-left: 50px;
  font-weight: normal;
  color: #c2c2cc;
}

#header a.install {
  margin-left: 50px;
  font-size: 16px;
  background-color: #596;
  color: #fff;
  text-decoration: none;
  padding: 2px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#header a.install:hover {
  background-color: #374;
}

#features {
  margin-left: 1.5em;
}

#content h1 {
  font-size: 24px;
  font-weight: normal;
  color: #a2a2ac;
  margin: 0 0 15px 100px;
}

#content h1 a {
  color: inherit;
  text-decoration: none;
}

#content h1 a:hover {
  text-decoration: underline;
}

#content h2 {
  float: left;
  clear: left;
  width: 90px;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  margin: 11px 0;
  color: #48484e;
  text-transform: uppercase;
  text-align: right;
}

ul.achievements {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 100px;
}

li.achievement {
  font-size: 14px;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #333;
  background-color: #1e2024;
  color: #7e7e84;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

li.achievement.highlight {
  border-color: #d93;
  background-color: #202226;
  color: #99a;
}

li.achievement h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #ddd;
}

li.achievement.highlight h3 {
  color: #fff;
}

li.achievement h3 a {
  color: inherit;
  text-decoration: none;
}

li.achievement h3 a:hover {
  text-decoration: underline;
}

li.achievement h3 .sep {
  color: #667;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

var {
  font-family: "Times New Roman", serif;
  font-size: 120%;
  line-height: 1;
  text-style: italic;
}

